{% extends 'cars/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'cars/search.css' %}">

<div class="white-box">
    {% if cars_list %}
    <ul>
    {% for car in cars_list %}
        <li>
            <a href="/brand/{{ car.id }}/">
            {{ car.vehicle }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cars are available.</p>
    <div class="flex-home">
        <a href="{% url 'home' %}">Go Home</a>
    </div>
{% endif %}
</div>

{% endblock %}
